.box {
    border: solid green;
}

.one {
    padding: 0px 60px;
    background-color: #1f2937;
    height: 500px;
}

.header {
    /*border: solid red;*/
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo{
    font-size: 24px;
    color: #f9faf8; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 4em;
    display: flex;
    flex-direction: row;

}

a {
    text-decoration: none;
    color: #e5e7eb;  
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.main {
    /*border: solid green;*/
    height: 430px;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
   
}

.group {
    flex-grow: 1; 
    
}

.awesome {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    /*border: solid purple;*/
}


.paragraph {
    color: #f9faf8;
    font-size: 18px;
    /*border: solid purple;*/
}

.first_button {
    background-color: #3883f6;
    font-size: 20px;
    color: #f9faf8;
    border: 3px solid #3883f6 ;
    border-radius: 5px;
    padding: 0px 10px;

}

.main img {
    height:  200px;
    width: 400px;
    flex-grow: 1;
}

.two {
    height: 480px;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    border: solid red;
    height: 100px;
}

.images {
    border: solid purple;
    display: flex;
    flex-direction: row;
}

.two img {
    height: 150px;
    width: 150px;
    border: solid plum;
}

.three {
    height: 450px;
    flex-direction: column;
}

.four {
    height: 350px;
    flex-direction: column;
}

.five {
    height: 100px;
    background-color: #1f2937;
}