.box {
    border: solid green;
}

.header {
    border: solid red;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo{
    font-size: 24px;
    color: #f9faf8; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 4em;
    display: flex;
    flex-direction: row;

}

a {
    text-decoration: none;
    color: #e5e7eb;  
    font-size: 18px;
}

.main {
    display: flex;
    flex-direction: row;
    

}

.group {
    flex-grow: 1;
}

.awesome {
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    color: white;
    border: solid purple;
}


.paragraph {
    color: white;
    border: solid purple;
}

.first_button {
    background-color: #3883f6;
    font-size: 20px;
    color: white;
    border: 1px solid #3883f6 ;

}

.main img {
    height:  200px;
    width: 400px;
    flex-grow: 1;
}

.one {
    padding: 0px 60px;
    background-color: #1f2937;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.two {
    height: 480px;
    flex-direction: column;
}

.three {
    height: 450px;
    flex-direction: column;
}

.four {
    height: 350px;
    flex-direction: column;
}

.five {
    height: 100px;
    background-color: #1f2937;
}